# File: k8s/auth-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
  namespace: chinmayee
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
        - name: auth
          image: chinmayee606/restauranty-auth:latest
          ports:
            - containerPort: 3001
          env:
          - name: SECRET
            valueFrom:
              secretKeyRef:
                name: app-secrets
                key: jwt-secret
          - name: MONGODB_URI
            value: "mongodb://mongodb:27017/flor"
          - name: CLOUD_NAME
            valueFrom:
              secretKeyRef:
                name: app-secrets
                key: cloud-name
          - name: CLOUD_API_KEY
            valueFrom:
              secretKeyRef:
                name: app-secrets
                key: cloud-api-key
          - name: CLOUD_API_SECRET
            valueFrom:
              secretKeyRef:
                name: app-secrets
                key: cloud-api-secret
          - name: PORT
            value: "3001"
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: auth
  namespace: chinmayee
spec:
  selector:
    app: auth
  ports:
  - port: 3001
    targetPort: 3001